body {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}



.container {
  width: 680px;
  max-width: 680px;
  padding: 0 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: auto;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
